a,
body,
html,
p,
h1,
h2,
h3,
li,
ul,
img {
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    background-color: black;
    animation: fadein ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*Animations entrée de la page*/
@keyframes fadein {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}