@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

.navigator {
    padding: 4% 0 0 4%;
    z-index: 999;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 20% 0;
    overflow: hidden;
}

td {
    padding: 5%;
}

li a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: "DM Serif Text";
    color: white;
}

h2 {
    font-family: "DM Serif Text";
    font-size: xx-large;
}

p {
    font-family: "Plus Jakarta Sans";
}

.ppramz {
    height: 100px;
    border-radius: 999px;
}

.navhor {
    padding: 0 24px 0 0;
    float: left;
}

.navver {
    padding-bottom: 10px;
}

.imgbtn {
    width: 30px;
}

.content {
    color: white;
}

.section {
    height: 100vh;
}

.section—first {
    height: 90vh;
}

/*Bouton back css (animation)*/
#btncontainer {
    background-color: transparent;
    color: white;
    width: 250px;
    list-style: none;
    transition: ease-in-out all .4s;
    display: table;
}

.backbtn {
    height: 100%;
    display: table-cell;
}

.btnlabel {
    float: left;
    width: 100px;
    opacity: 0;
    position: absolute;
    transition: ease-in-out all .4s;
}

#btncontainer:hover {
    width: 400px;
}

#btncontainer:hover .btnlabel {
    opacity: 1;
}