[class^="cursor"] {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-outer {
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all .08s ease-out;
}

.cursor-inner {
    width: 7px;
    height: 7px;
    background: #fff;
}

#navitem:hover~.cursor-outer {
    width: 90px;
    height: 90px;
    background: #fff;
    mix-blend-mode: difference;
}

.content:hover~.cursor-outer {
    opacity: 0;
}

body,
button,
a,
h1,
p,
img {
    cursor: none;
}