body {
  padding: 2%;
  background-color: black;
}

h1,a,p{
  color: white;
}

/*Bouton back css (animation)*/
#btncontainer {
    background-color: transparent;
    color: white;
    width: 250px;
    list-style: none;
    transition: ease-in-out all .4s;
    display: table;
}

.backbtn {
    height: 100%;
    display: table-cell;
}

.btnlabel {
    float: left;
    width: 100px;
    opacity: 0;
    position: absolute;
    transition: ease-in-out all .4s;
}

#btncontainer:hover {
    width: 400px;
}

#btncontainer:hover .btnlabel {
    opacity: 1;
}

/*Effect typewriter letter*/
.typewriter p {
  font-family: Comic Sans MS;
  /* Web-safe typewriter-like font */
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .17em solid pink;
  /* The typewriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .17em;
  /* Adjust as needed */
  animation: typing 3.5s steps(20, end), blinking-cursor .5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: pink;
  }
}